<div class="section-container p-2 p-xl-4">
    <div class="service px-4 py-5 pt-3">
        <div class="titie-row row mb-4">
            <h2 class="fw-bolder">Về chúng tôi</h2>
            <p>Đồ án cuối kì Môn lập trình Web NODEJS </p>
        </div>
        <div class="row pt-2">
            <div class="col-md-5">
                <img src="/images/imgAuth/TĐT_logo.png" alt="">
            </div>
            <div class="col-md-7 fs-7">
                <p class="mb-3">WEB develop by Trần Hợp Kiên</p>
                <p class="mb-3">Quảng cáo liên hệ</p>
                <p class="mb-3">0965865133</p>
            </div>
        </div>
    </div>
</div>