<div class="section-container p-2 p-xl-4">

    <h4 class="fs-6 fw-bolder my-3 mt-2 mb-4">Mobile Games <a id="see-all-game"
            class="float-end text-primary text-decoration-underline" href="#"><small class="fs-8">Xem
                thêm</small></a></h4>

    <div class="row m-0">
        <div class="row game-container">

        </div>


        <h4 class="fs-6 fw-bolder my-4">Mobile Apps <a id="see-all-app"
                class="float-end text-primary text-decoration-underline" href="#"><small class="fs-8">Xem
                    thêm</small></a></h4>
        <div class="row mt-2">
            <div class="row app-container">

            </div>
        </div>

        <h4 class="fs-6 fw-bolder my-4 mb-3">Top Books <small class="fs-8"></small></h4>
        <div class="book-container row">

        </div>


    </div>
</div>

<script src="/js/home.js"></script>